#components-layout-demo-top-side .middle {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .middle {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #fff;
}

.header{
    background: white;
    border-bottom: 1px solid #c7c7c7;
}
.middle{
    background: white;
}
.logo{
    left: 0;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: #282c34;
    border-radius: 24px;
    margin-top: 10px;
}
